# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = litb_r2d2.settings

[deploy]
url = http://varchbox:6800/
project = litb_r2d2

